# Cortes
>$n$: Quantidade de demandas  
>$m$: Quantidade de padrões de corte  

## Variáveis
>$x_j$: Quantidade de bobinas, para $j = 1,\ldots, m$  

## Parâmetros
>$M$: Compromento da bobina matriz.  
>$D_i$: Demanda das bobinas menores, para $i = 1,\ldots, n$  
>$P_{ij}$: Padrões de corte, para $i = 1,\ldots, n$ e $j = 1,\ldots, m$  

## Modelo  

\begin{align*}
    \hbox{min} \ \ 
        & \sum_{i=1}^n x_i \\
        
    \hbox{s.a.} \ \ 
        & \sum_{j=1}^m P_{ij} x_j \leq M   && i = 1,\ldots, n \\
        & P_{ij} \geq 0                    && i = 1,\ldots, n \,;\, j = 1,\ldots, m \\
        & D_i \geq 0                       && i = 1,\ldots, n \\
        & M   \geq 0
\end{align*}

In [3]:
from itertools import product


def cut_patterns(M: int, C: list[int]) -> list[list[int]]:
    corte_minimo = M - min(C)
    cortes = product(*(range(M//i + 1) for i in C))
    x = [i for i in cortes if corte_minimo < sum(a*b for a, b in zip(i, C)) <= M]

    return x

In [112]:
import pandas as pd
from IPython.display import display

def create_table(M: int, C: list[int]):
    patterns = cut_patterns(M, C)
    df = pd.DataFrame(patterns, columns=C)
    df["Resto"] = M - df.mul(C).sum(axis=1)
    display(df)

In [126]:
from pymprog import *

def modelo_cortes(M, C, D):
    P = [*zip(*cut_patterns(M, C))]

    n = len(D)
    m = len(P[0])

    begin("cortes")

    x = var("x", m, int)

    minimize( sum(x) )

    for i in range(n):
        sum(P[i][j] * x[j] for j in range(m)) >= D[i]

    solve()

    res = f"Valor ótimo: {vobj()}\n"
    res += '\n'.join(f"Quantidade usada dp padrão {j:>2}: {x[j].primal}" for j in range(m))

    end()

    return res

In [129]:
import os

for file in os.listdir("./input/"):
    with open(f"input/{file}", "r") as f:
        M = int(f.readline())

        # descarta dado não utilizado
        f.readline()

        C, D = [], []
        for i in f.readlines():
            c, d = map(int, i.split())
            C.append(c)
            D.append(d)

        create_table(M, C)
        res = modelo_cortes(M, C, D)

        with open(f"output/{file}", "w") as f:
            f.write(res)

    21  24  43  79  98  Resto
0    0   0   0   0   2      4
1    0   0   2   0   1     16
2    0   1   0   2   0     18
3    0   1   2   1   0     11
4    0   1   4   0   0      4
5    0   2   1   0   1     11
6    0   3   1   1   0      6
7    0   4   0   0   1      6
8    0   4   2   0   0     18
9    0   5   0   1   0      1
10   0   6   1   0   0     13
11   0   8   0   0   0      8
12   1   0   0   1   1      2
13   1   0   2   1   0     14
14   1   0   4   0   0      7
15   1   1   1   0   1     14
16   1   2   1   1   0      9
17   1   2   3   0   0      2
18   1   3   0   0   1      9
19   1   4   0   1   0      4
20   1   5   1   0   0     16
21   1   7   0   0   0     11
22   2   0   0   2   0      0
23   2   0   1   0   1     17
24   2   1   1   1   0     12
25   2   1   3   0   0      5
26   2   2   0   0   1     12
27   2   3   0   1   0      7
28   2   3   2   0   0      0
29   2   4   1   0   0     19
30   2   6   0   0   0     14
31   3   0   1   1   0     15
32   3   0   3   0   0      8
33   3   1   0   0   1     15
34   3   2   0   1   0     10
35   3   2   2   0   0      3
36   3   5   0   0   0     17
37   4   0   0   0   1     18
38   4   1   0   1   0     13
39   4   1   2   0   0      6
40   4   3   1   0   0      1
41   4   4   0   0   0     20
42   5   0   0   1   0     16
43   5   0   2   0   0      9
44   5   2   1   0   0      4
45   6   1   1   0   0      7
46   6   3   0   0   0      2
47   7   0   1   0   0     10
48   7   2   0   0   0      5
49   8   1   0   0   0      8
50   9   0   0   0   0     11

GLPK Simplex Optimizer 5.0
5 rows, 51 columns, 129 non-zeros
      0: obj =   0.000000000e+00 inf =   1.209e+04 (5)
      5: obj =   3.446229167e+03 inf =   0.000e+00 (0)
*     7: obj =   3.338166667e+03 inf =   0.000e+00 (0)
OPTIMAL LP SOLUTION FOUND
GLPK Integer Optimizer 5.0
5 rows, 51 columns, 129 non-zeros
51 integer variables, none of which are binary
Integer optimization begins...
Long-step dual simplex will be used
+     7: mip =     not found yet >=              -inf        (1; 0)
Solution found by heuristic: 3339
+    10: mip =   3.339000000e+03 >=     tree is empty   0.0% (0; 7)
INTEGER OPTIMAL SOLUTION FOUND

    19  22  28  54  63  64  Resto
0    0   0   0   0   0   2      2
1    0   0   0   0   1   1      3
2    0   0   0   0   2   0      4
3    0   0   0   1   0   1     12
4    0   0   0   1   1   0     13
5    0   0   2   0   0   1     10
6    0   0   2   0   1   0     11
7    0   0   4   0   0   0     18
8    0   1   0   2   0   0      0
9    0   1   1   0   0   1     16
10   0   1   1   0   1   0     17
11   0   2   1   1   0   0      4
12   0   2   3   0   0   0      2
13   0   3   0   0   0   1      0
14   0   3   0   0   1   0      1
15   0   3   0   1   0   0     10
16   0   3   2   0   0   0      8
17   0   4   1   0   0   0     14
18   1   0   0   2   0   0      3
19   1   0   2   1   0   0      1
20   1   1   1   1   0   0      7
21   1   1   3   0   0   0      5
22   1   2   0   0   0   1      3
23   1   2   0   0   1   0      4
24   1   2   0   1   0   0     13
25   1   2   2   0   0   0     11
26   1   3   1   0   0   0     17
27   1   5   0   0   0   0      1
28   2   0   1   0   0   1      0
29   2   0   1   0   1   0      1
30   2   0   1   1   0   0     10
31   2   0   3   0   0   0      8
32   2   1   0   0   0   1      6
33   2   1   0   0   1   0      7
34   2   1   0   1   0   0     16
35   2   1   2   0   0   0     14
36   2   4   0   0   0   0      4
37   3   0   0   0   0   1      9
38   3   0   0   0   1   0     10
39   3   0   2   0   0   0     17
40   3   2   1   0   0   0      1
41   3   3   0   0   0   0      7
42   4   0   0   1   0   0      0
43   4   1   1   0   0   0      4
44   4   2   0   0   0   0     10
45   5   0   1   0   0   0      7
46   5   1   0   0   0   0     13
47   6   0   0   0   0   0     16

GLPK Simplex Optimizer 5.0
6 rows, 48 columns, 113 non-zeros
      0: obj =   0.000000000e+00 inf =   1.525e+04 (6)
      6: obj =   5.202175000e+03 inf =   0.000e+00 (0)
*    10: obj =   5.134708333e+03 inf =   0.000e+00 (0)
OPTIMAL LP SOLUTION FOUND
GLPK Integer Optimizer 5.0
6 rows, 48 columns, 113 non-zeros
48 integer variables, none of which are binary
Integer optimization begins...
Long-step dual simplex will be used
+    10: mip =     not found yet >=              -inf        (1; 0)
Solution found by heuristic: 5135
+    10: mip =   5.135000000e+03 >=     tree is empty   0.0% (0; 1)
INTEGER OPTIMAL SOLUTION FOUND

    21  43  79  98  Resto
0    0   0   0   2      4
1    0   2   0   1     16
2    1   0   1   1      2
3    1   2   1   0     14
4    1   4   0   0      7
5    2   0   2   0      0
6    2   1   0   1     17
7    3   1   1   0     15
8    3   3   0   0      8
9    4   0   0   1     18
10   5   0   1   0     16
11   5   2   0   0      9
12   7   1   0   0     10
13   9   0   0   0     11

GLPK Simplex Optimizer 5.0
4 rows, 14 columns, 30 non-zeros
      0: obj =   0.000000000e+00 inf =   1.036e+04 (4)
      5: obj =   3.381000000e+03 inf =   0.000e+00 (0)
OPTIMAL LP SOLUTION FOUND
GLPK Integer Optimizer 5.0
4 rows, 14 columns, 30 non-zeros
14 integer variables, none of which are binary
Integer optimization begins...
Long-step dual simplex will be used
+     5: mip =     not found yet >=              -inf        (1; 0)
+     5: >>>>>   3.381000000e+03 >=   3.381000000e+03   0.0% (1; 0)
+     5: mip =   3.381000000e+03 >=     tree is empty   0.0% (0; 1)
INTEGER OPTIMAL SOLUTION FOUND

     10  12  17  18  21  Resto
0     0   0   0   0   5      5
1     0   0   0   1   4      8
2     0   0   0   6   0      2
3     0   0   1   0   4      9
4     0   0   1   4   1      0
..   ..  ..  ..  ..  ..    ...
224   8   2   0   0   0      6
225   9   0   0   1   0      2
226   9   0   1   0   0      3
227   9   1   0   0   0      8
228  11   0   0   0   0      0

[229 rows x 6 columns]

GLPK Simplex Optimizer 5.0
5 rows, 229 columns, 722 non-zeros
      0: obj =   0.000000000e+00 inf =   7.570e+03 (5)
      5: obj =   1.087500000e+03 inf =   0.000e+00 (0)
*     8: obj =   1.077909091e+03 inf =   0.000e+00 (0)
OPTIMAL LP SOLUTION FOUND
GLPK Integer Optimizer 5.0
5 rows, 229 columns, 722 non-zeros
229 integer variables, none of which are binary
Integer optimization begins...
Long-step dual simplex will be used
+     8: mip =     not found yet >=              -inf        (1; 0)
Solution found by heuristic: 1079
Solution found by heuristic: 1078
+    21: mip =   1.078000000e+03 >=     tree is empty   0.0% (0; 23)
INTEGER OPTIMAL SOLUTION FOUND

    15  16  31  40  Resto
0    0   0   3   0      7
1    0   1   0   2      4
2    0   1   1   1     13
3    0   2   2   0      6
4    0   3   0   1     12
5    0   4   1   0      5
6    0   6   0   0      4
7    1   0   0   2      5
8    1   0   1   1     14
9    1   1   2   0      7
10   1   2   0   1     13
11   1   3   1   0      6
12   1   5   0   0      5
13   2   0   2   0      8
14   2   1   0   1     14
15   2   2   1   0      7
16   2   4   0   0      6
17   3   1   1   0      8
18   3   3   0   0      7
19   4   0   0   1      0
20   4   0   1   0      9
21   4   2   0   0      8
22   5   1   0   0      9
23   6   0   0   0     10

GLPK Simplex Optimizer 5.0
4 rows, 24 columns, 53 non-zeros
      0: obj =   0.000000000e+00 inf =   8.515e+03 (4)
      4: obj =   2.215666667e+03 inf =   0.000e+00 (0)
*     5: obj =   2.194000000e+03 inf =   0.000e+00 (0)
OPTIMAL LP SOLUTION FOUND
GLPK Integer Optimizer 5.0
4 rows, 24 columns, 53 non-zeros
24 integer variables, none of which are binary
Integer optimization begins...
Long-step dual simplex will be used
+     5: mip =     not found yet >=              -inf        (1; 0)
+     5: >>>>>   2.194000000e+03 >=   2.194000000e+03   0.0% (1; 0)
+     5: mip =   2.194000000e+03 >=     tree is empty   0.0% (0; 1)
INTEGER OPTIMAL SOLUTION FOUND

    33  43  52  60  87  Resto
0    0   0   0   1   2     16
1    0   0   0   4   0     10
2    0   0   1   0   2     24
3    0   0   1   3   0     18
4    0   0   2   2   0     26
..  ..  ..  ..  ..  ..    ...
59   4   2   0   0   0     32
60   5   0   0   1   0     25
61   6   0   1   0   0      0
62   6   1   0   0   0      9
63   7   0   0   0   0     19

[64 rows x 6 columns]

GLPK Simplex Optimizer 5.0
5 rows, 64 columns, 171 non-zeros
      0: obj =   0.000000000e+00 inf =   1.322e+04 (5)
      5: obj =   3.126625000e+03 inf =   0.000e+00 (0)
*     7: obj =   3.077333333e+03 inf =   0.000e+00 (0)
OPTIMAL LP SOLUTION FOUND
GLPK Integer Optimizer 5.0
5 rows, 64 columns, 171 non-zeros
64 integer variables, none of which are binary
Integer optimization begins...
Long-step dual simplex will be used
+     7: mip =     not found yet >=              -inf        (1; 0)
Solution found by heuristic: 3078
+  1534: mip =   3.078000000e+03 >=     tree is empty   0.0% (0; 3055)
INTEGER OPTIMAL SOLUTION FOUND

    15  16  18  31  32  40  Resto
0    0   0   0   0   3   0      4
1    0   0   0   1   2   0      5
2    0   0   0   2   1   0      6
3    0   0   0   3   0   0      7
4    0   0   1   0   0   2      2
..  ..  ..  ..  ..  ..  ..    ...
86   4   1   1   0   0   0      6
87   4   2   0   0   0   0      8
88   5   0   1   0   0   0      7
89   5   1   0   0   0   0      9
90   6   0   0   0   0   0     10

[91 rows x 7 columns]

GLPK Simplex Optimizer 5.0
6 rows, 91 columns, 241 non-zeros
      0: obj =   0.000000000e+00 inf =   1.252e+04 (6)
      7: obj =   3.149250000e+03 inf =   0.000e+00 (0)
*     9: obj =   3.127583333e+03 inf =   0.000e+00 (0)
OPTIMAL LP SOLUTION FOUND
GLPK Integer Optimizer 5.0
6 rows, 91 columns, 241 non-zeros
91 integer variables, none of which are binary
Integer optimization begins...
Long-step dual simplex will be used
+     9: mip =     not found yet >=              -inf        (1; 0)
Solution found by heuristic: 3129
Solution found by heuristic: 3128
+  2828: mip =   3.128000000e+03 >=     tree is empty   0.0% (0; 5075)
INTEGER OPTIMAL SOLUTION FOUND

    19  28  54  63  Resto
0    0   0   0   2      4
1    0   0   1   1     13
2    0   2   0   1     11
3    0   4   0   0     18
4    1   0   2   0      3
5    1   2   1   0      1
6    2   1   0   1      1
7    2   1   1   0     10
8    2   3   0   0      8
9    3   0   0   1     10
10   3   2   0   0     17
11   4   0   1   0      0
12   5   1   0   0      7
13   6   0   0   0     16

GLPK Simplex Optimizer 5.0
4 rows, 14 columns, 28 non-zeros
      0: obj =   0.000000000e+00 inf =   9.853e+03 (4)
      4: obj =   3.181300000e+03 inf =   0.000e+00 (0)
*     7: obj =   3.080642857e+03 inf =   0.000e+00 (0)
OPTIMAL LP SOLUTION FOUND
GLPK Integer Optimizer 5.0
4 rows, 14 columns, 28 non-zeros
14 integer variables, none of which are binary
Integer optimization begins...
Long-step dual simplex will be used
+     7: mip =     not found yet >=              -inf        (1; 0)
Solution found by heuristic: 3081
+     8: mip =   3.081000000e+03 >=     tree is empty   0.0% (0; 3)
INTEGER OPTIMAL SOLUTION FOUND

     33  43  52  53  60  87  Resto
0     0   0   0   0   1   2     16
1     0   0   0   0   4   0     10
2     0   0   0   1   0   2     23
3     0   0   0   1   3   0     17
4     0   0   0   2   2   0     24
..   ..  ..  ..  ..  ..  ..    ...
114   5   0   0   0   1   0     25
115   5   0   0   1   0   0     32
116   6   0   1   0   0   0      0
117   6   1   0   0   0   0      9
118   7   0   0   0   0   0     19

[119 rows x 7 columns]

GLPK Simplex Optimizer 5.0
6 rows, 119 columns, 341 non-zeros
      0: obj =   0.000000000e+00 inf =   1.464e+04 (6)
      6: obj =   3.146413043e+03 inf =   0.000e+00 (0)
*    10: obj =   3.089342657e+03 inf =   0.000e+00 (0)
OPTIMAL LP SOLUTION FOUND
GLPK Integer Optimizer 5.0
6 rows, 119 columns, 341 non-zeros
119 integer variables, none of which are binary
Integer optimization begins...
Long-step dual simplex will be used
+    10: mip =     not found yet >=              -inf        (1; 0)
Solution found by heuristic: 3090
+  1476: mip =   3.090000000e+03 >=     tree is empty   0.0% (0; 2199)
INTEGER OPTIMAL SOLUTION FOUND

    21  24  43  53  79  98  Resto
0    0   0   0   0   0   2      4
1    0   0   0   2   1   0     15
2    0   0   1   1   0   1      6
3    0   0   2   0   0   1     16
4    0   0   2   2   0   0      8
..  ..  ..  ..  ..  ..  ..    ...
82   7   0   0   1   0   0      0
83   7   0   1   0   0   0     10
84   7   2   0   0   0   0      5
85   8   1   0   0   0   0      8
86   9   0   0   0   0   0     11

[87 rows x 7 columns]

GLPK Simplex Optimizer 5.0
6 rows, 87 columns, 238 non-zeros
      0: obj =   0.000000000e+00 inf =   1.502e+04 (6)
      6: obj =   4.190791667e+03 inf =   0.000e+00 (0)
*     9: obj =   4.083500000e+03 inf =   0.000e+00 (0)
OPTIMAL LP SOLUTION FOUND
GLPK Integer Optimizer 5.0
6 rows, 87 columns, 238 non-zeros
87 integer variables, none of which are binary
Integer optimization begins...
Long-step dual simplex will be used
+     9: mip =     not found yet >=              -inf        (1; 0)
Solution found by heuristic: 4084
+     9: mip =   4.084000000e+03 >=     tree is empty   0.0% (0; 1)
INTEGER OPTIMAL SOLUTION FOUND

    19  22  28  54  63  Resto
0    0   0   0   0   2      4
1    0   0   0   1   1     13
2    0   0   2   0   1     11
3    0   0   4   0   0     18
4    0   1   0   2   0      0
5    0   1   1   0   1     17
6    0   2   1   1   0      4
7    0   2   3   0   0      2
8    0   3   0   0   1      1
9    0   3   0   1   0     10
10   0   3   2   0   0      8
11   0   4   1   0   0     14
12   1   0   0   2   0      3
13   1   0   2   1   0      1
14   1   1   1   1   0      7
15   1   1   3   0   0      5
16   1   2   0   0   1      4
17   1   2   0   1   0     13
18   1   2   2   0   0     11
19   1   3   1   0   0     17
20   1   5   0   0   0      1
21   2   0   1   0   1      1
22   2   0   1   1   0     10
23   2   0   3   0   0      8
24   2   1   0   0   1      7
25   2   1   0   1   0     16
26   2   1   2   0   0     14
27   2   4   0   0   0      4
28   3   0   0   0   1     10
29   3   0   2   0   0     17
30   3   2   1   0   0      1
31   3   3   0   0   0      7
32   4   0   0   1   0      0
33   4   1   1   0   0      4
34   4   2   0   0   0     10
35   5   0   1   0   0      7
36   5   1   0   0   0     13
37   6   0   0   0   0     16

GLPK Simplex Optimizer 5.0
5 rows, 38 columns, 90 non-zeros
      0: obj =   0.000000000e+00 inf =   1.192e+04 (5)
      5: obj =   3.534675000e+03 inf =   0.000e+00 (0)
*     9: obj =   3.467208333e+03 inf =   0.000e+00 (0)
OPTIMAL LP SOLUTION FOUND
GLPK Integer Optimizer 5.0
5 rows, 38 columns, 90 non-zeros
38 integer variables, none of which are binary
Integer optimization begins...
Long-step dual simplex will be used
+     9: mip =     not found yet >=              -inf        (1; 0)
Solution found by heuristic: 3468
+     9: mip =   3.468000000e+03 >=     tree is empty   0.0% (0; 1)
INTEGER OPTIMAL SOLUTION FOUND

    15  16  31  32  40  Resto
0    0   0   0   3   0      4
1    0   0   1   2   0      5
2    0   0   2   1   0      6
3    0   0   3   0   0      7
4    0   1   0   0   2      4
5    0   1   0   1   1     12
6    0   1   1   0   1     13
7    0   2   0   2   0      4
8    0   2   1   1   0      5
9    0   2   2   0   0      6
10   0   3   0   0   1     12
11   0   4   0   1   0      4
12   0   4   1   0   0      5
13   0   6   0   0   0      4
14   1   0   0   0   2      5
15   1   0   0   1   1     13
16   1   0   1   0   1     14
17   1   1   0   2   0      5
18   1   1   1   1   0      6
19   1   1   2   0   0      7
20   1   2   0   0   1     13
21   1   3   0   1   0      5
22   1   3   1   0   0      6
23   1   5   0   0   0      5
24   2   0   0   2   0      6
25   2   0   1   1   0      7
26   2   0   2   0   0      8
27   2   1   0   0   1     14
28   2   2   0   1   0      6
29   2   2   1   0   0      7
30   2   4   0   0   0      6
31   3   1   0   1   0      7
32   3   1   1   0   0      8
33   3   3   0   0   0      7
34   4   0   0   0   1      0
35   4   0   0   1   0      8
36   4   0   1   0   0      9
37   4   2   0   0   0      8
38   5   1   0   0   0      9
39   6   0   0   0   0     10

GLPK Simplex Optimizer 5.0
5 rows, 40 columns, 94 non-zeros
      0: obj =   0.000000000e+00 inf =   9.885e+03 (5)
      5: obj =   2.699166667e+03 inf =   0.000e+00 (0)
*     6: obj =   2.677500000e+03 inf =   0.000e+00 (0)
OPTIMAL LP SOLUTION FOUND
GLPK Integer Optimizer 5.0
5 rows, 40 columns, 94 non-zeros
40 integer variables, none of which are binary
Integer optimization begins...
Long-step dual simplex will be used
+     6: mip =     not found yet >=              -inf        (1; 0)
Solution found by heuristic: 2678
+     9: mip =   2.678000000e+03 >=     tree is empty   0.0% (0; 7)
INTEGER OPTIMAL SOLUTION FOUND

    33  52  60  87  Resto
0    0   0   1   2     16
1    0   0   4   0     10
2    0   1   0   2     24
3    0   1   3   0     18
4    0   2   2   0     26
5    0   3   0   1      7
6    1   0   2   1     10
7    1   1   1   1     18
8    1   2   0   1     26
9    1   3   1   0      1
10   1   4   0   0      9
11   2   0   0   2     10
12   2   0   3   0      4
13   2   1   2   0     12
14   2   2   1   0     20
15   2   3   0   0     28
16   3   0   1   1      4
17   3   0   2   0     31
18   3   1   0   1     12
19   4   0   0   1     31
20   4   1   1   0      6
21   4   2   0   0     14
22   5   0   1   0     25
23   6   1   0   0      0
24   7   0   0   0     19

GLPK Simplex Optimizer 5.0
4 rows, 25 columns, 58 non-zeros
      0: obj =   0.000000000e+00 inf =   9.932e+03 (4)
      4: obj =   2.449802632e+03 inf =   0.000e+00 (0)
*     5: obj =   2.447958333e+03 inf =   0.000e+00 (0)
OPTIMAL LP SOLUTION FOUND
GLPK Integer Optimizer 5.0
4 rows, 25 columns, 58 non-zeros
25 integer variables, none of which are binary
Integer optimization begins...
Long-step dual simplex will be used
+     5: mip =     not found yet >=              -inf        (1; 0)
+  1238: >>>>>   2.448000000e+03 >=   2.448000000e+03   0.0% (997; 0)
+  1238: mip =   2.448000000e+03 >=     tree is empty   0.0% (0; 1993)
INTEGER OPTIMAL SOLUTION FOUND